MONGO_URL=mongodb://127.0.0.1:27017/
DB_NAME=inventory_dev_db
APP_BRAND_NAME=HappiHome
ENVIRONMENT=development
SECRET_KEY=replace-with-a-long-random-secret
ALGORITHM=HS256
SUPERADMIN_USERNAME=
SUPERADMIN_PASSWORD=
SUPERADMIN_EMAIL=superadmin@example.com
SUPERADMIN_FIRSTNAME=Super
SUPERADMIN_LASTNAME=Admin
API_LOG_TTL_DAYS=15
