@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600&display=swap");
@import "tailwindcss";
@import "./styles/theme.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
  background-color: var(--background);
}
